<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    @RenderSection("head", required: false)
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron">
            @RenderPage("~/_Menu.cshtml")
            @RenderSection("pagetitle", required: true)
        </div>
        @RenderBody()
    </div>
</body>
</html>
